---
import AstroIcon from "../icons/Astro.astro";
import DockerIcon from "../icons/Docker.astro";
import Cloudflare from "../icons/Cloudflare.astro";
import JavaScriptIcon from "../icons/JavaScript.astro";
import Nginx from "../icons/Nginx.astro";
import PythonIcon from "../icons/Python.astro";
import TailwindIcon from "../icons/Tailwind.astro";
import UbuntuIcon from "../icons/Ubuntu.astro";
import Calendar from "../icons/Calendar.astro";
import Odoo from "icons/Odoo.astro";

const TAGS = {
    Astro: {
        name: 'Astro',
        icon: AstroIcon
    },
    Docker: {
        name: 'Docker',
        icon: DockerIcon
    },
    Cloudflare: {
        name: 'Cloudflare',
        icon: Cloudflare
    },
    JavaScript: {
        name: 'JavaScript',
        icon: JavaScriptIcon
    },
    Nginx: {
        name: 'Nginx',
        icon: Nginx
    },
    Odoo: {
        name: 'Odoo',
        icon: Odoo
    },
    Python: {
        name: 'Python',
        icon: PythonIcon
    },
    Tailwind: {
        name: 'Tailwind',
        icon: TailwindIcon
    },
    Ubuntu: {
        name: 'Ubuntu',
        icon: UbuntuIcon
    }
};

const PROJECTS = [
    {
        title: "Odoo v13 Plastigesa E.I.R.L.",
        description: "Implementacón de Odoo en su versión 13 que incluye facturación electrónica con SUNAT. La implementación incluyó la configuración del servidor, desarrollo de módulos para el control de su proceso de ventas, producción, reclutamiento de personal, mantenimiento de equipos, inventarios y control de calidad. Integré módulos personalizados y dashboards para la toma de decisiones basada en datos.",
        link: "/project-info",
        image: "/img/plastigesa-odoo.webp",
        repo: "https://github.com/jsalvador-zsh/powerpallet",
        tags: [TAGS.Python, TAGS.Docker, TAGS.Ubuntu, TAGS.Nginx, TAGS.Odoo],
        date: "Abril - Septiembre 2024"
    },
    {
        title: "Odoo v17 Escuela de Derecho LP",
        description: "Implementación de Odoo en su versión 17, así como desarrollo de módulos para gestión de documentos, alumnos, personalizaciones integradas al sistema, etc. Desarrollé módulos personalizados para la gestión de gastos recurrentes, administración de personal y estudiantes, publicidad y documentos internos. La instalación se hizo en un VPS y enlazándolo a un dominio con Nginx y Cloudflare.",
        image: "/img/lpderecho-odoo.webp",
        repo: "https://github.com/jsalvador-zsh/",
        tags: [TAGS.Python, TAGS.Docker, TAGS.Cloudflare, TAGS.Nginx, TAGS.Odoo],
        date: "Mayo - Agosto 2024"
    },
    {
        title: "Rediseño página web Plastigesa",
        description: "Actualización de página web para empresa de la ciudad de Arequipa. Se logró buen rendimiento, optimización en la carga de recursos. Proyecto creado con Astro y Tailwind CSS. ",
        image: "/img/plastigesa-web.webp",
        repo: "https://github.com/jsalvador-zsh/plastigesa-web",
        link: "https://plastigesa.com",
        tags: [TAGS.Astro, TAGS.Tailwind, TAGS.JavaScript],
        date: "Abril 2024"
    }
]
---

<section>
    <div class="relative border-l border-border/20 dark:border-borderDark m-3">
        {
            PROJECTS.map((project, index) => (
                <article class="my-6 last-of-type:mb-0 ml-6">
                    <span class="absolute flex items-center justify-center w-6 h-6 -left-3">
                        <Calendar class="size-5"/>
                    </span>
                    <header>
                        <p class="italic">{project.date}</p>
                        <h3 class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0">{project.title}</h3>
                        <p>{project.description}</p>
                    </header>
                    <footer>
                        <div class="my-4">
                            <img
                                class="rounded-md mx-auto w-auto md:w-4/5"
                                src={project.image}
                                width={350}
                                height={260}
                                loading="lazy"
                                alt={"Screenshot del proyecto " + project.title}
                            />
                        </div>
                        <ul class="flex flex-wrap gap-2 justify-center">
                            {
                                project.tags.map( tag => (
                                <li class="">
                                    <span class="flex items-center gap-x-2
                                                text-sm italic
                                                rounded-md px-2 py-[2px]
                                                border border-border/20 dark:border-borderDark/40">
                                        <tag.icon class="size-4" />
                                        {tag.name}
                                    </span>
                                </li>
                                ))
                            }
                        </ul>
                    </footer>
                </article>
            ))
        }
    </div>
</section>